<nav class="navbar navbar-expand-sm bg-body-tertiary border border-bottom">
  <div class="container-fluid">
    <div class="d-flex flex-column">
        <a class="navbar-brand" href="#">
            <i class="bi bi-bullseye"></i> {{ config!.title }}
        </a>
        <hr class="m-0 p-0">
        <span class="text-secondary">{{ config!.brand }}</span>
    </div>
    
    <div class="d-flex justify-content-center">
        <div class="" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <h6 class="d-inline"><i class="bi bi-person-circle"></i> Profile</h6> 
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</nav>